<div class="border-bottom mb-4" style="padding-bottom: 8px;">

    <div class="row">

        <div class="col-9">

            <h4 style="color: rgb(120, 120, 120); ">{{project['Name']}}</h4>
    
        <!-- <button class="btn btn-primary btn-lg text-end">View More</button> -->
    
        <div>
            <b>Description:</b> {{project['Description']}}
        </div>
    
        {% if 'Progress' in project %}
    
            <div>
                <b>Status: </b> {{project['Progress']}}
            </div>
    
        {% endif %}
    
        </div>
    
        <div class="col-3 text-end">
    
            <a href="mailto:josaya@gmail.com?subject=My%20projects%20progress&body=Project%20name%3C{{project['Name']}}%3E%0D%0AProject%20progress%3C{{project['Progress']}}%3E" type="button" class="btn btn-outline-primary">View More</a>
    
        </div>

    </div>

</div>